# Visual Studio
.vs/
*.user
*.suo

# Build outputs
bin/
obj/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Temporary / Backup files
*.tmp
*.bak
*.backup

# Local secrets (do NOT commit)
**/appsettings.Local.json
**/appsettings.*.Local.json
backend/SEP490-G59-AICommunityStoryWriting/DataAccessObjects/Context/StoryPlatformDbContext.cs

# ===============================
# Upload files (images, icons...)
# ===============================
backend/SEP490-G59-AICommunityStoryWriting/AIStory.API/wwwroot/uploads/

# ===============================
# Frontend lock file (optional)
# ===============================
frontend/package-lock.json